<html>

<head>
    <title>Twit List View - example</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />

    <script src="../lib/angular.js"></script>
    <script src="../lib/angular-route.js"></script>

    <script src="../app/js/app.js"></script>
</head>


<body ng-app="twitListView" style="font-family:verdana;">
	<hr/>

		Your twitter Id please? <input type="text" ng-model="twitterHandle" class="input-sm" />	
        <button class="btn btn-primary" ng-click="isTwitListVisible=!isTwitListVisible">Go</button>
        
        <div ng-if="twitterHandle.length > 0">
            <H1 class="text-center"> Welcome {{twitterHandle}}. </H1>
        </div>
	<hr/>
	
	<div ng-show="isTwitListVisible">    	
    	<ng-view></ng-view>
	</div>
</body>

</html>