<div>				
	<span class="col-md-2 col-md-offset-1"><img style="width:100px; height:100px" ng-src="{{twitMessage.createUser.profilePictureUrl}}" /></span>

<div class="col-md-8">
<div class="row">
	<span class="col-md-6">{{twitMessage.createUser.fullName}} - {{twitMessage.createUser.id}}</span>
	<span class="col-md-6">{{twitMessage.createDate | formatDate:'mmddyyyy'}}</span>
</div>
<div class="row">
	<span class="col-md-12">{{twitMessage.message}}</span>	
	<span class="col-md-12">&nbsp;</span>	
	<span class="col-md-12" ng-if="twitMessage.favorites.length > 0">
	    <img style="width=20px; height:20px" src="/assets/images/likes.png"> - <span ng-repeat="fav in twitMessage.favorites"> <img title="{{fav.fullName}}" alt="{{fav.fullName}}" style="width=25px; height:25px" ng-src="{{fav.profilePictureUrl}}" /></span>
	</span>
</div>
</div>
<hr/>
</div>