<div>				
	<span class="col-md-2 col-md-offset-1"><img style="width:100px; height:100px" ng-src="{{twitMessage.createUser.profilePictureUrl}}" /></span>

<div class="col-md-8">
<div class="row">
	<span class="col-md-6">{{twitMessage.createUser.fullName}} - {{twitMessage.createUser.id}}</span>
	<span class="col-md-6">{{twitMessage.createDate | formatDate:'mmddyyyy'}}</span>
</div>
<div class="row">
	<span class="col-md-6">{{twitMessage.message}}</span>	
</div>
</div>

	<!--
	<div class="col-md-9">
		<table>
	        <tr>
	        	<td>{{twitMessage.createUser.fullName}} - {{twitMessage.createUser.id}}</td>
	        	<td>{{twitMessage.createDate | formatDate:'mmddyyyy'}}</td>
	        </tr>
	        <tr>
	        	<td class="text-primary">{{twitMessage.message}}</td>
	        	<td></td>
	        </tr>
	        <tr>
	        	<td>
	        		<span ng-if="twitMessage.favorites.length > 0">
	        			<img style="width=20px; height:20px" src="/assets/images/likes.png"> - <span ng-repeat="fav in twitMessage.favorites"> <img title="{{fav.fullName}}" alt="{{fav.fullName}}" style="width=25px; height:25px" ng-src="{{fav.profilePictureUrl}}" /></span>
	        		</span>
	        	</td>	
	        	<td></td>
	        </tr>
	    </table>	
	</div>
-->
	    
</div>