<div>
	<div class="row">
		<p class="col-md-6"> &nbsp;</p>
		<p class="col-md-2"> Twits from: <input class="input-sm" type="text" ng-model="twitFilterValue" /> </p>
		<p class="col-md-2"> &nbsp;</p>
	</div>
<!--
    <table class="table table-hover">
    	<tbody ng-repeat="twit in twits | filter:{createUser.fullName: twitFilterValue}">
    	<tr>    		
        	<td class="text-center">
        		<img style="width:100px; height:100px" ng-src="{{twit.createUser.profilePictureUrl}}" />
        	</td>

	        <td class="text-left">
	        	<table class="table table-striped small">
	        		<tr class="small">
	        			<td>{{twit.createUser.fullName}} - {{twit.createUser.id}}</td>
	        			<td>{{twit.createDate | formatDate:'mmddyyyy'}}</td>
	        		</tr>
	        		<tr>
	        			<td class="text-primary">{{twit.message}}</td>
	        			<td></td>
	        		</tr>
	        		<tr>
	        			<td>
	        				<span ng-if="twit.favorites.length > 0">
	        					<img style="width=20px; height:20px" src="/assets/images/likes.png"> - <span ng-repeat="fav in twit.favorites"> <img title="{{fav.fullName}}" alt="{{fav.fullName}}" style="width=25px; height:25px" ng-src="{{fav.profilePictureUrl}}" /></span>
	        				</span>
	        			</td>	
	        			<td></td>
	        		</tr>
	        	</table>	
	        </td>
	    
        </tr>
    </tbody>
    </table>
-->

<div class="row" ng-repeat="twit in twits | filter:{createUser.fullName: twitFilterValue}"> 
	<div twit-message-directive twit-message="twit"></div>
</div>

</div>