<div class="row ">
    <table class="table table-hover">
    	<tbody ng-repeat="twit in twits">
    	<tr>
    		
        	<td class="text-center">
        		<img style="width:100px; height:100px" ng-src="{{twit.createUser.profilePictureUrl}}" />
        	</td>

	        <td class="text-left">
	        	<table class="table table-striped small">
	        		<tr>
	        			<td>{{twit.createUser.fullName}} - {{twit.createUser.id}}</td>
	        			
	        		</tr>
	        		<tr>
	        			<td>{{twit.createDate}}</td>
	        			
	        		</tr>
	        		<tr>
	        			<td>{{twit.message}}</td>
	        			
	        		</tr>
	        	</table>	
	        </td>
        </tr>
    </tbody>
    </table>
</div>